.services .service-label {
    top: 130px;
}

div#cabecera {
    background: #333;
    color: white;
    margin: auto;
    text-align: center;
}

#cabecera p {
    padding: 10px;
    margin: 0px;
    font-size: 17px;
    font-weight: bold;
}

#cabecera a{
	color:white;
}

.credit a {
    color:white;
}

.footer-icons,.full-nav-icons {

    width: 70px !important;

}




.header .slider::after, .header::after {
    background: rgba(50,50,50,.2) !important;
}

.fullscreen-nav-container::after {
    background: rgba(0,0,0,.4) !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    z-index: -1;
}

