<div id="cabecera">
  <p align="center"> <a href="https://www.google.com/maps/place/CARRO+GONZALEZ+ARQUITECTOS+SLP/@41.5076907,-5.7409119,15z/data=!4m5!3m4!1s0x0:0xa5282f634db870ed!8m2!3d41.5076907!4d-5.7409119" target="_blank">[Encuentranos en Google Maps]</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dirección oficina técnica: Av. del Príncipe de Asturias, 5 Entr. B - Zamora &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;mail: info@carrogonzalez.es</p>
</div>